@charset "utf-8";
/* CSS Document */

.totalWrap{
	position:fixed; margin-left:-10px; padding:30px 50px 50px 50px; background: url(/transprime/images/overlay.png) repeat;
}

.subTotalWrap{
	width:1100px; margin-left:10%; margin-right:10%; height:900px;
}

.topMajor{
	width:1000px; height:300px; background:#EFE7E8;  border-radius: 10px 0px 10px 0px;
}

#tpSocial{
	height:5px; word-spacing:20px; float:right;
}

.topMajor #tpBanner{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding:20px 20px 7px 20px;
	background-color: #251A1D;
	color:#FFF;
	font-weight:300;
	font-size:4em;
	margin-top:inherit;
}

#tpBanner+p{
	background-color:#251A15;
	color:#FFFFFF;
	margin-top:-80px;
	padding-left:41%;
}
.theMajor{
	color:#F7EFEF;
	width:1100px;
}

.theMajor ul{
	margin-left: -40px;
}

.theMajor li{
	list-style:none;
	display: inline-block;
	word-spacing:2px;
	margin-right:9px;
	background-color: #251A1D;
	border-radius: 5px 0px 5px 0px;
	cursor:pointer;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bolder;
}

.theMajor li:hover{
	background-color: #251A15;
}
.theMajor img:hover{
	box-shadow:inset;
	text-overflow:clip;
	height:188px;
	border-color:#999;
	background:#FFF;
	border-radius: 15px 0px 15px 0px;
}

.theMajor img{
	width:190px; height:190px;
	float: none;
	border-radius: 5px 0px 0px 0px;
}

.theMajor li p{
	height:5px;
	padding-left:3px;
	padding-right:3px;
}

theMajor form{
	width:900;
	margin:5px;
}

.theMajorIn{
	height:195px;
	width: 1000px;
	background-color:#E0D2D3;
	margin:20px 0 20px 0;
}

.theMajorIn label{
	font-size: 12px;
}

label{
	font-family: "Verdana Ref", "Viner Hand ITC";
	font-size:150px;
	font-weight:bolder;
	margin-top:-20px;
	
}

#theBrief{
	padding:40px 100px 0 10px;
	font-family:"Verdana Ref", "Viner Hand ITC";
	font-size:13px;
	height:70px;
}

#theSum p{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#theSum a{
	margin-left:250px;
	background:#999;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:lighter;
}

#theSum a:hover{
	text-decoration:underline;
	text-shadow:#000;
}
	

.theFooter{
	width:1000px; background-color:#FFFFFF; height:30px; border-radius: 0 0 5px 5px;
	word-spacing:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding: 5px 0 0 0;
}

